
    <h2>Login</h2>
    <form name="form" data-ng-submit="logins.login(data)" role="form">

            <label for="email">Email</label>
            <input type="email" value="admin@creator.com" name="email" id="email" ng-model="data.email" />

            <label for="password">Password</label>
            <input type="password" name="password" id="password" ng-model="data.password" />

            <button type="submit" class="btn btn-primary">Login</button>

    </form>

    email admin@creator.com
    lösen 1234
    basic YWRtaW5AY3JlYXRvci5jb206MTIzNA==\n


    <li><a href="" ng-click="logins.logout()" >Log Out</a></li>