<h2>Stories</h2>



<form name="addStory" data-ng-submit="stories.searchStories(data)">
    <input type="text" data-ng-model="data.searches" placeholder="Search" >
    <input type="text" data-ng-model="data.limit" placeholder="Limit" >
    <input type="text" data-ng-model="data.offset" placeholder="Offset" >
    <input type="text" data-ng-model="data.tag" placeholder="Tag" >
    <input type="text" data-ng-model="data.location" placeholder="Location" >
    <button type="submit" class="button">Search</button>
</form>

<form name="addStory" data-ng-submit="stories.createStory(data)">
    <input type="text" data-ng-model="data.title" placeholder="Title" >
    <input type="text" data-ng-model="data.description" placeholder="Description">
    <input type="text" data-ng-model="data.address" placeholder="Address">
    <input type="text" data-ng-model="data.latitude" placeholder="Latitude">
    <input type="text" data-ng-model="data.longitude" placeholder="Longitude">
    <input type="text" data-ng-model="data.tags" placeholder="Tags">
    <button type="submit" class="button">Create</button>
</form>


<story-map></story-map>


<map-div id="googleMap" style="width:75%;height:75%;"></map-div>
    <h3>List all stories</h3>

        <table class="table" style="width: 100%;">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Lat</th>
                <th>Lon</th>
                <th>Tag</th>

            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="story in stories.storyList track by $index">
                <td>{{ story.title }}</td>
                <td>{{ story.description.substring(0, 10) +"...";}}</td>
                <td>{{ story.latitude}}</td>
                <td>{{ story.longitude}}</td>
                <td data-ng-repeat="(key, value) in story.tags">
                    {{ value.name }}
                </td>
                <!--<td>{{ story.previous_page }}</td>-->
                <td ng-show="$last">{{story.previous_page}}</td>
                <td ng-show="$last">{{story.next_page}}</td>

            </tr>
            <div></div>
            </tbody>

        </table>
