
<!--Search form-->
<form class="form-inline" data-ng-submit="stories.searchStories(data)">
    <input class="form-control" type="text" data-ng-model="data.searches" placeholder="Search" >
    <input class="form-control" type="text" data-ng-model="data.limit" placeholder="Limit" >
    <input class="form-control" type="text" data-ng-model="data.offset" placeholder="Offset" >
    <input class="form-control" type="text" data-ng-model="data.tag" placeholder="Tag" >
    <input class="form-control" type="text" data-ng-model="data.location" placeholder="Location" >
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<!--Create new story form-->
<form class="form-inline" ng-controller="LoginController" data-ng-hide="!isUserLoggedIn()" data-ng-submit="stories.createStory(data)">
    <input class="form-control" type="text" data-ng-model="data.title" required placeholder="Title" >
    <input class="form-control" type="text" data-ng-model="data.description" required placeholder="Description">
    <input class="form-control" type="text" data-ng-model="data.address" required placeholder="Address">
    <input class="form-control" type="text" data-ng-model="data.latitude" placeholder="Latitude">
    <input class="form-control" type="text" data-ng-model="data.longitude" placeholder="Longitude">
    <input class="form-control" type="text" data-ng-model="data.tags" placeholder="Tags">
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<!--The map directive-->
<story-map></story-map>

<h3>List all stories</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Place</th>
        <th>Lat</th>
        <th>Lon</th>
        <th>Tag</th>
    </tr>
    </thead>

    <tbody>
    <tr data-ng-repeat="story in stories.storyList track by $index">
        <td>{{ story.title }}</td>
        <td>{{ story.description }}</td>
        <td>{{ story.address }}</td>
        <td>{{ story.latitude}}</td>
        <td>{{ story.longitude}}</td>
        <td>
            <span data-ng-repeat="(key, value) in story.tags">
                {{ value.name }}
            </span>
        </td>
        <td><a data-ng-href="users/{{story.creator.username}}">More info</a></td>

        <td ng-show="$last">{{story.previous_page}}</td>
        <td ng-show="$last">{{story.next_page}}</td>
    </tr>
    <div></div>
    </tbody>
</table>
