<h2>Stories</h2>

<form name="addStory" data-ng-submit="stories.createStory(data)">
    <input type="text" id="title" data-ng-model="data.title" placeholder="title" >
    <input type="text" id="description" data-ng-model="data.description" placeholder="description">
    <input type="text" id="address" data-ng-model="data.address" placeholder="Address">
    <input type="text" id="latitude" data-ng-model="data.latitude" placeholder="Latitude">
    <input type="text" id="longitude" data-ng-model="data.longitude" placeholder="Longitude">
    <input type="text" id="tags" data-ng-model="data.tags" placeholder="Tags">
    <button type="submit" class="button">Create</button>
</form>

<map center="56.32, 16.13" zoom="8" class="map" ></map>
    <h3>List all stories</h3>

        <table class="table" style="width: 100%;">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Lat</th>
                <th>Lon</th>
                <th>Tag</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="story in stories.storyList track by $index">
                <td>{{ story.title }}</td>
                <td>{{ story.description.substring(0, 10) +"...";}}</td>
                <td>{{ story.latitude}}</td>
                <td>{{ story.longitude}}</td>
                <td data-ng-repeat="(key, value) in story.tags">
                    {{ value.name }}
                </td>

            </tr>
            </tbody>

        </table>

