<div class="container">
    <h2>View 1</h2>
    Name:
    <input type="text" data-ng-model="myName"/>

    <ul>
        <li data-ng-repeat="human in people | filter:myName | orderBy:'name'">{{ human.city | uppercase}} - {{ human.name }}</li>
    </ul>
    New City
    <input type="text" data-ng-model="newPeople.city" />
    New Name
    <input type="text" data-ng-model="newPeople.name" />
    <button data-ng-click="addPeople()">Add</button>
    <br>
    <li><a data-ng-href="stories">stories</a></li>
</div>